/*h1{
    color:#5906A5;
    text-shadow: 1px 1px 1px #000;
}*/

.principal{
    padding: 40px 15px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 1024px){
    body > .container{
        padding-top: 140px;
    }
}